* {
    box-sizing: border-box;
}

:root {
    --main-dark: #0B131E;
    --card-dark: #202B3B;
    --font-color-dark: #9ea5b0;
}

/* Webpage styling */

body {
    min-height: 100vh;
    width: 100vw;

    margin: 0;
    

    display: flex;
    flex-direction: column;

    background-color: var(--main-dark);
    font-family: Roboto;
    color: var(--font-color-dark);
    font-weight: 500;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.search {
    padding: 1rem 1rem 0 1rem;
}

#search-bar {
    width: 100%;

    padding: 0.5rem;
    border-radius: 10px;
    border: none;

    background-color: var(--card-dark);
    color: var(--font-color-dark);
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 0.8rem;
    padding: 0 1rem 1rem 1rem;

    overflow-y: auto;
}

/* Main info styling */

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: clamp(150px, 25vh, 30vh);

    padding: 1rem 0.5rem 0 0.5rem;
}

.main-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info-text p {
    margin: 0;
}

.location {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.today-temp {
    font-size: 3.5rem;
    color: white;

    margin: 0;
}

.today-icon {
    height: 5rem;
}

.icon-container {
    display: flex;
    justify-content: space-between;
}

/* Hourly forecast styling */

.hourly-forecast {
    height: clamp(140px, 20vh, 30vh);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hourly-forecast p {
    margin: 0;
}

.hour-card-container {
    flex: 1;
    overflow-x: auto;

    display: flex;
    gap: 0.8rem;
}

.hour-card-container::-webkit-scrollbar {
    display: none;
}

.hour-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--card-dark);

    padding: 0.8rem;
    max-width: 120px;
    border-radius: 15px;

    width: calc((100% - 1.6rem) / 3);
    min-width: calc((288px - 1.6rem) / 3);
}

.hour-card img {
    height: clamp(3rem, 2rem + 5%, 5rem);
    width: auto;
}

.hourly-temp {
    font-size: 1.2rem;
    color: white;
}

.time {
    font-size: 0.8rem;
}

/* Air conditions styling */

.air-conditions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.air-conditions p {
    margin: 0;
}

.conditions-card-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0.8rem;

    flex: 1;
}

.conditions-card {
    background-color: var(--card-dark);
    border-radius: 15px;
    font-size: 0.8rem;

    min-width: 112px;
    padding: 0.8rem;

    display: flex;
    gap: 0.3rem;
}

.conditions-card p {
    display: inline;
    margin: 0;
}

.conditions-card > img {
    height: 16px;
    width: auto;
}

.conditions-card-text {
    display: flex;
    flex-direction: column;
}

.conditions-card-text > div {
    flex: 1;
}

.conditions-value {
    font-size: 1.3rem;
    color: white;
    margin: auto;
}

/* Weekly forecast styling */

.weekly-forecast > p {
    margin: 0;
}

/* Footer styling */

.theme-footer {
    width: 100%;
    height: 3rem;

    position: sticky;
    bottom: 0;

    background-color: var(--card-dark);

    display: flex;
    justify-content: space-evenly;

}